body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.button-menu {
    display: flex;
    width: 750px;
    padding: 10px;
    background-color: red;
}

#container {
    display: flex;
    background-color: red;
    width: 750px;
    height: 750px;
    padding: 10px;
}

.drawing-parent-div {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.drawing-div {
    flex-grow: 1;
    background-color: white;
    border: 1px black solid;
}